{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="max-image-preview:large" />
    <meta name="generator" content="WP Rocket 3.17.3.1" data-wpr-features="wpr_defer_js wpr_minify_js wpr_minify_css wpr_cdn wpr_desktop wpr_preload_links" />
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="preload" data-rocket-preload as="style" href="https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic%7CMontserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic%7CMerriweather:300,300italic,regular,italic,700,700italic,900,900italic&amp;subset=devanagari,latin,latin-ext,cyrillic,cyrillic-ext,vietnamese&amp;display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic%7CMontserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic%7CMerriweather:300,300italic,regular,italic,700,700italic,900,900italic&amp;subset=devanagari,latin,latin-ext,cyrillic,cyrillic-ext,vietnamese&amp;display=swap" media="print" onload="this.media='all'" />
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic%7CMontserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic%7CMerriweather:300,300italic,regular,italic,700,700italic,900,900italic&amp;subset=devanagari,latin,latin-ext,cyrillic,cyrillic-ext,vietnamese&amp;display=swap" />
    </noscript>
    
    <link data-minify="1" rel="stylesheet" id="attorna-style-core-css" href="https://advstephani.com.br/wp-content/cache/min/1/attorna/demo2/wp-content/themes/attorna/css/style-core186c.css?ver=1733679064" type="text/css" media="all" />
    <link data-minify="1" rel="stylesheet" id="attorna-custom-style-css" href="https://advstephani.com.br/wp-content/cache/min/1/attorna/demo2/wp-content/uploads/attorna-style-custom186c.css?ver=1733679064" type="text/css" media="all" />
    <link data-minify="1" rel="stylesheet" id="attorna-mmenu-css" href="https://advstephani.com.br/wp-content/cache/min/1/attorna/demo2/wp-content/themes/attorna/css/mmenu6a6a.css?ver=1733679065" type="text/css" media="all" />
    <script type="text/javascript" src="https://advstephani.com.br/wp-includes/js/jquery/jquery.minf43b.js?ver=3.7.1" id="jquery-core-js"></script>
    
    <style>
      /* Garante que o cabeçalho fique fixo e por cima */
      .attorna-header-wrap {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
      }
      /* Estilos para centralizar e exibir o conteúdo */
      .attorna-content-wrapper {
        position: relative;
        background: #fff;
        padding: 20px;
        max-width: 960px;
        margin: 220px auto 20px; /* 220px de margem superior para compensar o cabeçalho fixo */
        display: block !important;
      }
      /* Caso algum script ou animação altere a visibilidade, força a exibição */
      .attorna-content-wrapper * {
        opacity: 1 !important;
        visibility: visible !important;
      }
    </style>
  </head>
  <body{% if page.header.classes %} class="{{ page.header.classes }}"{% endif %}>
    <div class="post-template-default single single-post postid-6425 single-format-standard gdlr-core-body attorna-body attorna-body-front attorna-full attorna-with-sticky-navigation attorna-blog-style-4 attorna-blockquote-style-1 gdlr-core-link-to-lightbox">
      <!-- Cabeçalho mobile e menus -->
      <div class="attorna-mobile-header-wrap">
        <div class="attorna-mobile-header attorna-header-background attorna-style-slide attorna-sticky-mobile-navigation" id="attorna-mobile-header">
          <div class="attorna-mobile-header-container attorna-container clearfix">
            <div class="attorna-logo attorna-item-pdlr">
              <div class="attorna-logo-inner">
                <a class="site-logo" href="https://advstephani.com.br/" title="Advogado Direito Médico Curitiba">
                  <img src="https://advstephani.com.br/wp-content/uploads/2019/03/logo-light.png" alt="Jonas Stephâni Advocacia - Especialista em Direito Médico" width="370" height="65" title="Jonas Stephâni Advocacia Direito Médico" />
                </a>
              </div>
            </div>
            <div class="attorna-mobile-menu-right">
              <div class="attorna-main-menu-search" id="attorna-mobile-top-search">
                <i class="fa fa-search" aria-hidden="true"></i>
              </div>
              <div class="attorna-mobile-menu">
                <a class="attorna-mm-menu-button attorna-mobile-menu-button attorna-mobile-button-hamburger" href="#attorna-mobile-menu" aria-label="Menu">
                  <span></span>
                </a>
                <div class="attorna-mm-menu-wrap attorna-navigation-font" id="attorna-mobile-menu" data-slide="right">
                  <ul id="menu-main-navigation" class="m-menu">
                    <li class="menu-item menu-item-home">
                      <a href="https://advstephani.com.br/" title="Início">Home</a>
                    </li>
                    <li class="menu-item">
                      <a href="#" title="Sobre o Escritório">Sobre Nós</a>
                    </li>
                    <li class="menu-item menu-item-has-children">
                      <a href="https://advstephani.com.br/areas-atuacao.html" title="Áreas de Atuação">Áreas de Atuação</a>
                      <ul class="sub-menu">
                        <li class="menu-item">
                          <a href="https://advstephani.com.br/erro-medico.html" title="Erro Médico">Erro Médico e Responsabilidade</a>
                        </li>
                        <li class="menu-item">
                          <a href="https://advstephani.com.br/defesa-medicos-erro-medico.html" title="Defesa de Médicos em Casos de Erro Médico">Defesa de Médicos - Erro Médico</a>
                        </li>
                        <li class="menu-item">
                          <a href="https://advstephani.com.br/direito-penal-medico.html" title="Direito Penal Médico">Direito Penal Médico</a>
                        </li>
                        <li class="menu-item">
                          <a href="https://advstephani.com.br/processos-eticos.html" title="Processos Éticos">Processos Ético-Profissionais</a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item">
                      <a href="https://advstephani.com.br/news/blog-news" title="Blog Jurídico">Blog</a>
                    </li>
                    <li class="menu-item">
                      <a href="https://advstephani.com.br/contato.html" title="Entre em Contato">Contato</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Cabeçalho fixo desktop -->
      <div data-rocket-location-hash="fb3fdf0f7d2171c5241af240b7800948" class="attorna-body-outer-wrapper">
        <div data-rocket-location-hash="735aa54fc7bf5b1cd0854d7bd28c822e" class="attorna-body-wrapper clearfix attorna-with-transparent-header attorna-with-frame">
          <div class="attorna-header-background-transparent">
            <div style="background-color:black;" class="attorna-top-bar">
              <div class="attorna-top-bar-background"></div>
              <div class="attorna-top-bar-container attorna-container">
                <div class="attorna-top-bar-container-inner clearfix">
                  <div class="attorna-top-bar-left attorna-item-pdlr">
                    <i class="fa fa-phone" style="font-size: 15px; color: #b1976b; margin-right: 10px;"></i>41 99276 0819
                    <div style="margin-left: 10px; margin-right: 13px; display: inline;">&#183;</div>
                    <i class="icon_clock_alt" style="font-size: 15px; color: #b1976b; margin-right: 10px;"></i>Advogado em Curitiba
                  </div>
                  <a class="attorna-top-bar-right-button" href="https://advstephani.com.br/#" target="_self"><i class="fa fa-comment-o"></i>Contato</a>
                  <div class="attorna-top-bar-right attorna-item-pdlr">
                    <div class="attorna-top-bar-right-social">
                      <a href="https://facebook.com" target="_blank" class="attorna-top-bar-social-icon" title="Facebook">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                      <a href="https://linkedin.com" target="_blank" class="attorna-top-bar-social-icon" title="LinkedIn">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                      <a href="https://pinterest.com" target="_blank" class="attorna-top-bar-social-icon" title="Pinterest">
                        <i class="fab fa-pinterest-p"></i>
                      </a>
                      <a href="https://twitter.com" target="_blank" class="attorna-top-bar-social-icon" title="Twitter">
                        <i class="fab fa-twitter"></i>
                      </a>
                      <a href="https://instagram.com" target="_blank" class="attorna-top-bar-social-icon" title="Instagram">
                        <i class="fab fa-instagram"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <header style="background-color:black;" class="attorna-header-wrap attorna-header-style-plain attorna-style-menu-right attorna-sticky-navigation attorna-style-slide" data-navigation-offset="75px">
              <div class="attorna-header-background"></div>
              <div class="attorna-header-container attorna-container">
                <div class="attorna-header-container-inner clearfix">
                  <div class="attorna-logo attorna-item-pdlr">
                    <div class="attorna-logo-inner">
                      <a href="https://advstephani.com.br/">
                        <img src="https://advstephani.com.br/wp-content/uploads/2019/03/logo-light.png" alt="Jonas Stephâni Advocacia - Direito Médico" width="370" height="65" title="Jonas Stephâni Advocacia"/>
                      </a>
                    </div>
                  </div>
                  <div class="attorna-navigation attorna-item-pdlr clearfix">
                    <div class="attorna-main-menu" id="attorna-main-menu">
                      <ul id="menu-main-navigation-1" class="sf-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-5167 attorna-normal-menu">
                          <a href="https://advstephani.com.br/" class="sf-with-ul-pre">Home</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5123 attorna-normal-menu">
                          <a href="#.html" class="sf-with-ul-pre">Sobre Nós</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-6900 attorna-normal-menu">
                          <a href="https://advstephani.com.br/areas-atuacao.html" class="sf-with-ul-pre">Áreas de Atuação</a>
                          <ul class="sub-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6519" data-size="60">
                              <a href="https://advstephani.com.br/erro-medico.html">Erro Médico e Responsabilidade Civil</a>
                            </li>
                            <li class="menu-item">
                              <a href="https://advstephani.com.br/defesa-medicos-erro-medico.html" title="Defesa de Médicos em Casos de Erro Médico">Defesa de Médicos - Erro Médico</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6518" data-size="60">
                              <a href="https://advstephani.com.br/direito-penal-medico.html">Direito Penal Médico</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6517" data-size="60">
                              <a href="https://advstephani.com.br/processos-eticos.html">Processos Ético-Profissionais</a>
                            </li>
                          </ul>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5172 attorna-normal-menu">
                          <a href="https://advstephani.com.br/news">Blog</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5207 attorna-normal-menu">
                          <a href="https://advstephani.com.br/contato.html">Contato</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </header>
            <!-- Fim do cabeçalho -->
          </div>
        </div>
      </div>
    </div>

    <!-- Div do conteúdo com estilos inline para garantir exibição e centralização -->
    <div class="attorna-content-wrapper" style="position: relative; background: #fff; padding: 20px; max-width: 960px; margin: 220px auto 20px; display: block !important;">
      {% block content %}
      <!-- Seu conteúdo aqui -->
      {% endblock %}
    </div>

    {% block bottom %}
      {{ assets.js('bottom')|raw }}
    {% endblock %}
    
    <script type="text/javascript" src="https://advstephani.com.br/wp-includes/js/jquery/ui/effect.minb37e.js?ver=1.13.3" id="jquery-effects-core-js" data-rocket-defer defer></script>
    <script data-minify="1" type="text/javascript" src="https://advstephani.com.br/wp-content/cache/min/1/attorna/demo2/wp-content/themes/attorna/js/mmenu738e.js?ver=1733679066" id="attorna-mmenu-js" data-rocket-defer defer></script>
    <script data-minify="1" type="text/javascript" src="https://advstephani.com.br/wp-content/cache/min/1/attorna/demo2/wp-content/themes/attorna/js/jquery.superfish738e.js?ver=1733679066" id="jquery-superfish-js" data-rocket-defer defer></script>
    <script data-minify="1" type="text/javascript" src="https://advstephani.com.br/wp-content/cache/min/1/attorna/demo2/wp-content/themes/attorna/js/script-core738e.js?ver=1733679066" id="attorna-script-core-js" data-rocket-defer defer></script>
  <script>
document.addEventListener('DOMContentLoaded', function() {
    const accTitles = document.querySelectorAll('.gdlr-core-accordion-item-title');
    accTitles.forEach(title => {
        title.addEventListener('click', () => {
            const tab = title.closest('.gdlr-core-accordion-item-tab');
            const isActive = tab.classList.contains('gdlr-core-active');
            document.querySelectorAll('.gdlr-core-accordion-item-tab').forEach(t => t.classList.remove('gdlr-core-active'));
            if (!isActive) tab.classList.add('gdlr-core-active');
        });
    });
});
</script>
</body>
</html>
